/*
# Layout Colors
*/
$movies-white: unquote('#f9f9f9');
$movies-blue: unquote('#2f73dc');

$main-gradient: linear-gradient( 135deg, #C2FFD8 10%, #465EFB 100%);

/*
# Fonts
*/
$main-font: 'Raleway', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$font-dark: unquote('#333333');
$font-light: unquote('#777777');
$font-inactive: unquote('#cacaca');