
<div #pageEl class="card-details__container" [@initTransition]="animationState">

  <div class="card-details__upper">
      <div class="card-details__side-left">
          <img src="{{movie.posterUrl | async}}"/>
      </div>
    
      <div class="card-details__side-right">
        <h1 (click)="openImdbTab(movie?.imdbId)" class="card-details__title">{{ movie.title | async  }}</h1>

        <div class="card-details__info">
            <p class="card-details__director">{{ movie.director | async  }}sss</p>
            <p class="card-details__year">{{ movie.year | async  }}</p>
        </div>

        <p class="card-details__metascore">{{ movie.metascore | async }}</p>
      </div>
  </div>

  <div class="card-details__lower">
      <moviesapp-actor-card class="card-details__actors-card" *ngFor="let actor of movie?.actors" [actor]="actor"></moviesapp-actor-card>
  </div>
</div>
