@import "./styles/variables.scss";
@import "./styles/mixins.scss";

.component {
    &__wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: $main-gradient;
        overflow: auto;
    }
}