@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.list-settings {
    &__content {
        display: flex;
        justify-content: space-around;
        color: $font-dark;
    }
    &__sort-button {
        cursor: pointer;

        &:hover {
            font-weight: bold;
        }
    }
}

.active {
    font-weight: bold;
}

.inactive {
    color: $font-inactive;
}