@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.card-short {
    &__content {
        position: relative;
        display: flex;
        margin: 5px;
    }
    &__index {
        display: flex;
        align-items: center;
        margin-top: -10px;
        padding: 0 0px 0 6px;
    }
    &__poster {
        max-height: 155px;
        margin: -5px;
        margin-left: 15px;
        width: 15%;
        min-width: 100px;
        max-width: 100px;
    }
    &__details {
        display: flex;
        width: 70%;
        height: 140px;
        align-items: center;
    }
    &__title {
        width: 80%;
        margin-left: 1em;
        color: $font-dark;

        span {
            cursor: pointer;
        }
    }
    &__year {
        width: 20%;
    }
    &__metascore {
        position: relative;
        top: -5px;
        right: -12px;
        line-height: 100%;
        display: flex;
        justify-content: center;
        width: 10%;
        min-width: 90px;
        margin-right: 5px;
        padding: 70px 15px;
        color: white;
        background-color: #7095ef3b;
        font-family: "Roboto", sans-serif;
        font-size: 1.6em;

        &--icon {
            font-size: 0.6em;
            position: relative;
            right: 2px;
            padding-left: 3px;
        }
    }
}

@media all and (max-width: 1024px) { } 
@media all and (max-width: 839px) {
    .card-short {
        &__title {
            font-size: 1em;
        }
        &__metascore {
            top: -8px;
            padding: 70px 10px 70px 5px;        
            min-width: 60px;
            font-size: 1.2em;
        }
    }
 }
@media all and (max-width: 480px) {
    .card-short {
        &__index {
            padding-right: 0 6px 0 0;
        }
        &__details {
            height: 103px;
        }
        &__title {
            font-size: 0.8em;
        }
        &__year {
            font-size: 0.8em;
        }
        &__poster {
            margin-left: 0;
            min-width: 70px;
            max-width: 70px;
            max-height: 110px;
        }
        &__metascore {
            padding: 52px 0;
        }
    }
 }